<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Aggregator</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>News Aggregator</h1>
    </header>
    <main>
        <div class="search-input">
            <form action="/scrape" method="post">
                <input type="text" name="url" placeholder="Enter URL" autocomplete="off" required>
                <button type="submit">Search</button>
            </form>
        </div>
        <section id="news-articles">
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Heeman Ijaz</p>
    </footer>
<!--    <script src="scripts.js"></script>-->
</body>
</html>
